// Global default params, used in configs
params {

    // Input options
    input                       = null

    // genome
    fasta                       = []
    transcript_fasta            = []
    additional_fasta            = []
    gtf                         = []
    gff                         = []
    gene_bed                    = []
    star_index                  = []
    salmon_index                = []

    // references
    genomes                     = [:]
    gtf_extra_attributes        = 'gene_name'
    gtf_group_features          = 'gene_id'
    featurecounts_feature_type  = 'exon'
    featurecounts_group_type    = 'gene_biotype'
    gencode                     = false
    save_reference              = false

    // UMI handling
    with_umi                   = false
    skip_umi_extract           = false
    umitools_extract_method    = 'string'
    umitools_grouping_method   = 'directional'
    umitools_dedup_stats       = false
    umitools_bc_pattern        = null
    umitools_bc_pattern2       = null
    umitools_umi_separator     = null
    umi_discard_read           = null
    save_umi_intermeds         = false

    // Trimming
    trimmer                     = 'fastp'
    min_trimmed_reads           = 10000
    extra_fastp_args            = null
    save_trimmed                = false
    skip_trimming               = false

    // Alignment
    aligner                     = 'star_salmon'
    pseudo_aligner              = null
    seq_platform                = false
    seq_center                  = null
    bam_csi_index               = false
    star_ignore_sjdbgtf         = false
    salmon_quant_libtype        = null
    stringtie_ignore_gtf        = false
    min_mapped_reads            = 5
    extra_star_align_args       = null
    extra_salmon_quant_args     = null
    save_merged_fastq           = false
    save_unaligned              = false
    save_align_intermeds        = false
    skip_markduplicates         = false
    skip_alignment              = false
    skip_pseudo_alignment       = false

    // QC
    skip_qc                     = false
    skip_bigwig                 = false
    skip_stringtie              = false
    skip_fastqc                 = false
    skip_preseq                 = true
    skip_dupradar               = false
    skip_qualimap               = false
    skip_rseqc                  = false
    skip_biotype_qc             = false
    skip_deseq2_qc              = false
    skip_multiqc                = false
    deseq2_vst                  = true
    rseqc_modules               = 'bam_stat,inner_distance,infer_experiment,junction_annotation,junction_saturation,read_distribution,read_duplication'

    // MultiQC options
    multiqc_config              = null
    multiqc_title               = null
    multiqc_logo                = null
    multiqc_methods_description = null

    // Boilerplate options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    conda_cacheDir             = []
    singularity_cacheDir       = []

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '60.GB'
    max_cpus                   = 30
    max_time                   = '240.h'

}

// import statement for execution profiles
profiles {
    chia         { includeConfig 'conf/chia.config'     }

    conda {
        conda.enabled           = true
        singularity.enabled     = false
    }
    singularity {
        conda.enabled           = false
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
}

//
// Generic process options for all workflows
//
process {

    publishDir = [
        path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]

    errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }
    maxRetries = 3

}

//
// Load modules.config for DSL2 module specific options
//
includeConfig 'conf/modules.config'

manifest {
    name            = ''
    author          = """Modeline Longjohn"""
    homePage        = 'https://github.com/'
    description     = """"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.1'
    version         = '1.0'
}
